@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container {
  width: 1280px !important;
} */

html,
body {
  overflow-x: hidden;
}

.zinc-bg {
  background: #012c3f;
  color: #ffff;
}

.zinc-text {
  color: #012c3f;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: #012c3f;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 50%;
  left: 0;
  margin-bottom: -4px;
}

.side-bar {
  background: rgb(243, 156, 18);
  background: -moz-linear-gradient(207deg, rgba(243, 156, 18, 1) 3%, rgba(1, 44, 63, 1) 76%);
  background: -webkit-linear-gradient(207deg, rgba(243, 156, 18, 1) 3%, rgba(1, 44, 63, 1) 76%);
  background: linear-gradient(207deg, rgba(243, 156, 18, 1) 3%, rgba(1, 44, 63, 1) 76%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f39c12", endColorstr="#012c3f", GradientType=1);
  font-weight: 500;
  color: #fff;
}

.grad-text {
  /* color: -webkit-linear-gradient(45deg, #4821c1 30%, #e5385e 62%) !important; */
  background-image: -webkit-linear-gradient(45deg, #4821c1 30%, #e5385e 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.yellow-text {
  color: #f39c12;
}

.yellow-bg {
  background: #f39c12;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-hero-title {
  display: inline-block;
  border: 20px solid #ffff;
  padding: 10px 20px;
  font-size: 92px;
  border-radius: 8px;
  font-weight: 900;
  text-align: center;
}

.section-title {
  font-size: 3rem;
  font-weight: 500;
  color: #012c3f;
}

.btn {
  padding: 10px 25px;
  border-radius: 28px;
}

@media only screen and (max-width: 768px) {
  .home-hero-title {
    font-size: 44px;
    padding: 20px 20px;

  }
}

@media only screen and (max-width: 640px) {
  .divider {
    display: none;
  }
}