@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container {
  width: 1280px !important;
} */

.zinc-bg {
  background: #012c3f;
  color: #ffff;
}

.zinc-text {
  color: #012c3f;
}

.grad-text {
  /* color: -webkit-linear-gradient(45deg, #4821c1 30%, #e5385e 62%) !important; */
  background-image: -webkit-linear-gradient(45deg, #4821c1 30%, #e5385e 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.yellow-text {
  color: #f39c12;
}

.yellow-bg {
  background: #f39c12;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-hero-title {
  display: inline-block;
  border: 20px solid #ffff;
  padding: 10px 20px;
  font-size: 92px;
  border-radius: 8px;
  font-weight: 900;
  text-align: center;
}

.section-title {
  font-size: 3rem;
  font-weight: 500;
  color: #012c3f;
}

.btn {
  padding: 10px 25px;
  border-radius: 28px;
}